{{- if $.Values.jump.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jump
  labels:
    app: jump
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jump
  template:
    metadata:
      labels:
        app: jump
    spec:
      serviceAccountName: jump-sa
      containers:
        - name: jump
          image: aws300/test:latest
          imagePullPolicy: Always
          command: [ "/usr/bin/sh"]
          args: [ "/home/core/.local/bin/entrypoint.sh", "sudo", "/usr/sbin/sshd", "-D", "-p", "22"]
          env:
            - name: DOCKER_HOST
              value: tcp://dind:2375
          ports:
            - containerPort: 22
          volumeMounts:
            - mountPath: /app/cache
              name: cache-pv
            - name: authorized-keys-volume
              mountPath: /home/core/.ssh/authorized_keys
              subPath: authorized_keys
              readOnly: true
            - name: jump-pv
              mountPath: /home/core/core
          resources:
            requests:
              cpu: 250m
              memory: 800Mi
          livenessProbe:
            tcpSocket:
              port: 22
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
            successThreshold: 1
          readinessProbe:
            tcpSocket:
              port: 22
            initialDelaySeconds: 3
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
            successThreshold: 1
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      volumes:
        - name: cache-pv
          hostPath:
            path: /var/data/xcache
            type: DirectoryOrCreate
        - name: authorized-keys-volume
          configMap:
            name: jump-authorized-keys-configmap
            defaultMode: 0600
        - name: jump-pv
          persistentVolumeClaim:
            claimName: jump-pvc
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jump-pvc
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 500Gi
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: jump-authorized-keys-configmap
data:
  authorized_keys: |
    # Replace with your SSH public key, for example:
    ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC2GXinaC69T/vQwSp32DrPPhHuVYZjBQbDx5h+31WHVLp7ygpHo5nc1BQ2s/opFkYgrkyC6L0XwII1ICknwCXPwacRliik7v1NtR3qbRSD2wjtoPcnqu0KWepAmjsbBcmywyltW++oy0fB/TpNSnaK6OMNIPq5K1lEnYSWrU1AZdgxGQIoVTIzVIWyu+Jix+PVGLU/P0fqrmqYcSOiycAJ9Tvl5vJzM+iZ79rgzT/Ck1WUj0qEKkYItVDhP9+o7zeSrSfYD0M70N1HKGzdBWVh/7peRpxWfANKPwnKX2T8zFQ9eLYeRCnshg9LsQzluc6UYV/AobNQEmuW/Lpgt8kZ eks_test
---
apiVersion: v1
kind: Service
metadata:
  name: jump
spec:
  selector:
    app: jump
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
    - name: tcp
      protocol: TCP
      port: 8080
      targetPort: 8080
    - name: vs
      protocol: TCP
      port: 8300
      targetPort: 8300
    - name: grpc
      protocol: TCP
      port: 8081
      targetPort: 8081
    - name: ssh
      protocol: TCP
      port: 22
      targetPort: 22
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: jump
spec:
  parentRefs:
    - name: eg
  hostnames:
    - jump.{{ .Values.global.wildcardHost }}
  rules:
    - backendRefs:
        - group: ""
          kind: Service
          name: jump
          port: 8300
          weight: 1
      matches:
        - path:
            type: PathPrefix
            value: /
---
apiVersion: gateway.networking.k8s.io/v1alpha2
kind: TCPRoute
metadata:
  name: jump
spec:
  parentRefs:
    - name: eg
      sectionName: ssh
  rules:
    - backendRefs:
        - name: jump
          port: 22
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: jump-sa
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::677273280931:role/EKS_JumpRole
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: jump-binding
subjects:
  - kind: ServiceAccount
    name: jump-sa
    namespace: {{ .Release.Namespace}}
roleRef:
  kind: ClusterRole
  name: cluster-admin
  apiGroup: rbac.authorization.k8s.io
---
# dind
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dind
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dind
  template:
    metadata:
      labels:
        app: dind
    spec:
      containers:
        - name: dind
          image: registry.hub.docker.com/library/docker:28-dind
          command: [ "dockerd" ]
          args: [ "--host", "tcp://0.0.0.0:2375" ]
          env:
            - name: DOCKER_TLS_CERTDIR
              value: ""
            - name: DOCKER_HOST
              value: tcp://localhost:2375
          resources:
              {{- toYaml .Values.jump.dind.resources | nindent 12 }}
          securityContext:
            privileged: true
      restartPolicy: Always
      {{- if $.Values.jump.dind86 }}
        {{- with .Values.nodes.amd64 }}
          {{- toYaml . | nindent 6 }}
        {{- end }}
      {{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: dind
spec:
  selector:
    app: dind
  ports:
    - name: dind
      protocol: TCP
      port: 2375
      targetPort: 2375
{{- end }}
